
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
          font-family: 'Poppins', sans-serif;
}

.back-form{
            background: url("https://html.design/demo/grandcoffee/images/img-9.png") center / cover no-repeat;
            height: 90vh;
            width: 100%;
            padding: 23px 70px ;
}


.Contact h1{
            font-size: 40px;
            color: #f76d37;
            text-align: center;
            margin-block: 90px;
}



.Contact-section{
                    display: flex;
}


.Contact-form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
}


form input , textarea{
        border-radius: 10px;
}


.input{
        padding: 20px 40px;
        font-size: 20px;
        border: none;
        outline: none;
}


.Area-form{
            font-size: 24px;
            padding: 20px 30px;
            outline: none; 
            border: none;    
}


form textarea {
                  font-weight: 300;
                  resize: none;
}


.Map iframe{
                height: 90vh;
}


.btn{
        font-size: 16px;
        border: none;
        background-color: #d33a11;
        color: #ffff;
        padding: 15px 50px;
        border-radius: 30px;
        font-weight: 520;
        margin-top: 50px;
        margin-left: 170px;
}



.btn:hover{
            background-color: #f76d37;
            color: rgb(255, 255, 255); 
            font-weight: 600; 
            cursor: pointer;  
}