@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
        
          font-family: "Poppins", sans-serif;
}




.Container{
            width: min(90% , 1120px);
            margin-inline: auto;
}



img{
    width: 100%;
}



.text h1{
            font-size: 2.5rem;
            color: #f76d37;
            margin-top: 90px;
            margin-bottom: 20px;
            text-align: center;
}


.text p{
        font-size: 1.15rem;
        color: #262525;
        text-align: center;
        margin-bottom: 50px;
}



.images {
            display: grid;
            grid-template-columns: repeat(3 ,1fr);
            gap: 15px;
}


.images img{
                width: 350px;
                margin-bottom: 15px;
                border-radius: 4px;
}

#edit-img{
            height: 329.91px;
}
